.your-orders{
    text-align: center;
    font-size: 20px;
    color: green;
    font-weight: 600;
}
.no-orders{
    font-size: 22px;
    color: red;
    margin: 50px;
    text-align: center;
}
.each-order-parent{
    margin: 20px;
    background-color: white;
}
.order-placed{
    padding: 15px 0 0 15px;
    font-weight: 550;
    text-align: center;
    color: green;
}
.order-id{
    padding: 0 0 0 15px;
    font-weight: 550;
    text-align: center;
}
.total-price{
    padding: 0 0 0 15px;
    font-weight: 550;
    text-align: center;
}
/* order-parent & image */
.order-parent{
    padding: 5px;
    
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: white;
    border-bottom: 1px solid lightgray;
}
.order-image-parent{
    margin: 10px;
    display: flex;
    align-items: center;
}
.order-image{
    height: 200px;
    width: 200px;
    padding: 10px;
    background-color: white;
    border: 1px solid lightgrey;
}

/* content  */
.order-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px 15px 15px 0px;
}

.order-content-title{
    font-size: 19px;
    margin: 0;
}

/* rating  */
.order-rating-parent{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    padding-left: 15px;
    gap: 2px;
}
.order-content-rating{
    margin: 2px;
    color: gray;
    font-size: 17px;
}
.order-rating-count{
    margin: 0;
    padding-top: 2px;
    padding-left: 1px;
    color: gray;
    font-size: 17px;
}

/* price */
.order-content-price{
    margin-top: 15px;
}
.order-content-label{
    font-size: 17px;
    color: green;
    font-weight: 600;
}
.order-price{
    margin: 3px 0 5px 0;
    font-weight: 550;
    font-size: 22px;
}

/* order-quantity-parent */
.order-quantity-parent{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin: 10px 0 15px 0;
    color: gray;
    font-weight: 550;
}
.order-quantity-number{
    margin: 0;
    padding: 0;
}