.nav-parent{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;

    width: auto;
    height: 62.5px;
    background-color: white;
    padding: 2px 0px;

    z-index: 1000;
}

.logo{
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.logo-name{
    margin: 0;
    font-style: italic;
}
.explore-products{
    font-size: 12px;
}

.search-bar{
    position: relative;
    display: inline-block;
}
.search-icon{
    position: absolute;
    top: 5px;
    left: 10px;
    background-color: rgba(241, 242, 244, 1.00);
    opacity: 0.5;
}
.search-input{
    height: 35px;
    width: 550px;
    padding: 0px 40px;

    background-color: rgba(241, 242, 244, 1.00);
    border-radius: 10px;
    border: none;
    outline: none;
}
.cart{
    display: flex;
    align-items: center;
    gap:2px;
    position: relative;
}

.cart-count{
    position: absolute;
    width: 12px;
    height: 15px;
    top: 6px;
    left: 8px;
    font-weight: 550;
    color: white;
    font-size: 16px;
    background-color: crimson;
    border: 1px solid black;
    border-radius: 2px;
    padding: 0px;
    margin: 0;
    text-align: center;
}

.my-orders-parent{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.my-orders-name{
    padding: 0;
    margin: 0;
}
.my-orders-icon{
    padding-bottom: 4px;
}

.goto-admin{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logout-button-parent{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
}


