.each-product-parent{
    display: flex;
    margin: 20px;
    background-color: white;
}

.each-product-image{
    margin: 40px 10px 40px 40px;
}

.product-image{
    height: 400px;
    width: 400px;
    border: 1px solid lightgray;
    background-color: white;
    padding: 10px;
}

/* content  */
.content{
    display: flex;
    flex-direction: column;
    margin: 40px 50px 0 20px;
}
.content-title{
    font-size: 19px;
    margin-bottom: 0;
}
/* rating  */
.rating-parent{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    padding-left: 15px;
    gap: 2px;
}
.content-rating{
    margin: 2px;
    color: gray;
    font-size: 17px;
}
.rating-count{
    margin: 0;
    padding-top: 2px;
    padding-left: 1px;
    color: gray;
    font-size: 17px;
}

/* price */
.content-price{
    margin-top: 25px;

}
.content-label{
    font-size: 17px;
    color: green;
    font-weight: 600;
}
.price{
    margin: 3px 0 5px 0;
    font-weight: 550;
    font-size: 22px;
}

/* description */
.description-parent{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.description-label{
    color: gray;
    font-size: 18px
}
.description{
    margin: 0;
    font-size: 15px;
}

/* cart-button */
.cart-button{
    width: 200px;
    height: 50px;
    border: 2px solid #ff9f00;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 15px;
    font-weight: 600;
    background-color: #ff9f00;
    cursor: pointer;

}
.button-cart-icon{
    color: white;
}
.cart-button-label{
    color: white;
    cursor: pointer;
}